@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4 text-light font-weight-bold">CENTRO MEDICO DE MASCOTAS A DISTANCIA</h1>
    <p class="display-6 text-light">Lo mejor para tu mascota.</p>
    <img src="https://cdn.pixabay.com/photo/2018/10/01/09/21/pets-3715733_960_720.jpg"  class="rounded float-left img-thumbnail" width="600px">
    <img src="https://cdn.pixabay.com/photo/2016/02/10/13/10/dog-1191676_960_720.jpg" class="rounded float-right img-thumbnail" width="600px" padding-bottom="50%">
</div>


