@page
@model MascotaFeliz.App.Frontend.Pages.ListaDuenosModel
@{
}

<h1 class="text-center mt-5">Listado de propietarios</h1>
<hr>
<table class="table table-striped table-bordered table-sm bg-light mt-3" >
    <tr class="text-center">
        <th >Nombres</th>
        <th >Apellidos</th>
        <th >Detalles Dueño</th>
        <th >Editar Dueño</th>
    </tr>
    @foreach (var dueno in Model.listaDuenos)
    {
        <tr class="text-center">
            <td>@dueno.Nombres</td>
            <td>@dueno.Apellidos</td>

            <td>
                <a class="btn btn-primary table-btn" asp-page="./DetallesDuenos" asp-route-duenoId="@dueno.Id">
                    <i class="fa-regular fa-address-card"></i>
                </a>
            </td>

            <td>
                <a class="btn btn-primary table-btn" asp-page="./EditarDuenos" asp-route-duenoId="@dueno.Id">
                    <i class="fa-regular fa-pen-to-square"></i>
                </a>
            </td>
            
        </tr>

        
    }
</table>

<a class="btn btn-primary table-btn" asp-page="./EditarDuenos" class="btn-default">Agregar Dueño <i class="fa-solid fa-user-plus"></i></a>
