@page
@model MascotaFeliz.App.Frontend.Pages.DetallesVeterinariosModel
@{
}


 <div class="card mt-5 text-center bg-muted" >
  <div class="card-body">
    <h1 class="card-title">Detalles de la mascota</h1>
  </div>
  <div class="card font-weight-bold">
    id:@Model.veterinario.Id
   </div>
  <div class="card  font-weight-bold">
    Nombre:@Model.veterinario.Nombres
  </div>
  <div class="card font-weight-bold">
    Apellido:@Model.veterinario.Apellidos
  </div>
  <div class="card font-weight-bold">
    Dirección:@Model.veterinario.Direccion
  </div>
  <div class="card font-weight-bold">
    Telefono:@Model.veterinario.Telefono
  </div>
  <div class="card font-weight-bold">
    Tarjeta Profesional:@Model.veterinario.TarjetaProfeisonal
  </div>
</div>

 <a asp-page="./ListaVeterinarios" class="btn btn-primary table-btn mt-1">Lista de Veterinarios</a>
